body {
    overflow-y: scroll;
    overflow-x: scroll;
}
.globalWrapper{
    display: inline-table;
    width: 10000px;
    margin-top: 70px;
    overflow-x: scroll;
    margin-left: 30px;
}
.wrapper {
    /*border: 5px solid #117d47;*/
    width: 390px;
    height: 300px;
    position: relative;
    /*border-radius: 5px;*/
    background-color: #DDE9FF;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.green {
    border: 5px solid #117d47;
}
.yellow {
    border: 5px solid #F9DA36;
    -webkit-box-shadow: 20px 0px 0px 0px #F9DA36;
    -moz-box-shadow: 20px 0px 0px 0px #F9DA36;
    box-shadow: 20px 0px 0px 0px #F9DA36;
}
.red {
    border: 5px solid #8E2100;
    -webkit-box-shadow: 40px 0px 0px 0px #8E2100;
    -moz-box-shadow: 40px 0px 0px 0px #8E2100;
    box-shadow: 40px 0px 0px 0px #8E2100;

}
.wrapperYellow {
    width: 40px;
    height: 290px;
    display: inline-table;
    background-color: #F9DA36;
    position: absolute;
    left: 343px;
}
.wrapperRed {
    width: 20px;
    height: 290px;
    display: inline-table;
    background-color: #8E2100;
    position: absolute;
    left: 383px;
}
.circle {
    text-align: center;
    margin: 5px;
    display: inline-table;
}
.greenCircle {
    color: #117d47;
}
.yellowCircle {
    color: #F9DA36;
}
.redCircle {
    color: #8E2100;
}
.defaultCircle {
    color: #0E5C7B;
}
.defaultCircle:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #0E5C7B;
    padding: 5px 10px; /* Поля */
    border-radius: 5px;
    color: white;
}
.greenCircle:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #117d47;
    padding: 5px 10px; /* Поля */
    border-radius: 5px;
    color: white;
}
.yellowCircle:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #F9DA36;
    padding: 5px 10px; /* Поля */
    border-radius: 5px;
    color: black;
}
.redCircle:hover::after {
    content: attr(data-title);
    position: absolute;
    z-index: 1;
    background: #8E2100;
    padding: 5px 10px; /* Поля */
    border-radius: 5px;
    color: white;
}
.operationWorkPlace {
    display: inline-table;
    /* background-color: white; */
    /* border: 5px solid #117d47; */
    background-image: url("../img/storageGreen.svg");
    background-size: contain;
    background-repeat: no-repeat;
    /* border-right: 0; */
    padding: 20px;
    padding-left: 10px;
    position: relative;
    margin-top: 40px;
    width: 148px;
    height: 210px;
    text-align: center;
}
/*.operationWorkPlace::before, .operationWorkPlace::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*/!*background-image: url("../img/storage.svg");*!/*/
    /*/!*background-size: 100% auto;*!/*/
    /*/!*background-repeat: no-repeat;*!/*/
    /*display: inline-table;*/
    /*left: 120px;*/
    /*bottom: 0px;*/
    /*border: 100px solid transparent;*/
    /*/!*border-left: 50px solid #117d47;*!/*/
/*}*/
/*.operationWorkPlace::after {*/
    /*border-left: 50px solid white;*/
    /*display: inline-table;*/
    /*left: 115px;*/
/*}*/
.storageGreen {
    background-image: url("../img/storageGreen.svg");
}
.storageYellow {
    background-image: url("../img/storageYellow.svg");
}
.storageRed {
    background-image: url("../img/storageRed.svg");
}
.leftStorage {
    left: -50px;
}
.rightStorage {
    left: 180px;
}
.workPlaceItem {
    margin-top: 50px;
    /* margin-left: 190px; */
    display: inline-block;
    width: 530px;
    position: relative;
    left: 45px;
}
.transportation {
    /*background-image: url("../img/arrowGreen.svg");*/
    width: 185px;
    height: 123px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* border: 5px solid #117d47; */
    display: inline-table;
    bottom: 248px;
    text-align: center;
    position: relative;
}
.arrowGreen {
    background-image: url("../img/arrowGreen.svg");
}
.arrowYellow {
    background-image: url("../img/arrowYellow.svg");
    width: 205px;
}
.arrowRed {
    background-image: url("../img/arrowRed.svg");
    width: 215px;
}

.leftTimeLineWorkPlace {
    height: 463px;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    left: -5px;
    vertical-align: bottom;
}
.leftTimeLineWorkPlace>p {
    padding-top: 400px;
}
.rightTimeLineWorkPlace {
    height: 463px;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    top: 0px;
    left: 383px;
    vertical-align: bottom;
}
.rightTimeLineWorkPlace>p {
    padding-top: 400px;
}
.leftTimeLineTransportation {
    height: 347px;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    top: 42px;
    vertical-align: bottom;
}
.leftTimeLineTransportation>p {
    padding-top: 283px;
}
.arrowGreen>.rightTimeLineTransportation {
    height: 328px;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    top: 61px;
    left: 181px;
    vertical-align: bottom;
}
.arrowYellow>.rightTimeLineTransportation {
    height: 328px;
    text-align: left;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    top: 61px;
    left: 201px;
    vertical-align: bottom;
}
.arrowRed>.rightTimeLineTransportation {
    height: 328px;
    border-left: 2px dotted #B3B3B3;
    position: absolute;
    z-index: -30;
    top: 61px;
    left: 212px;
    vertical-align: bottom;
}
.rightTimeLineTransportation>p {
    padding-top: 264px;
}
.titleForWorkPlace {
    position: absolute;
    background: white;
    padding: 5px;
    margin: 0px;
}
.titleForWorkPlace>h5 {
    margin: 0px;
}
.description {
    display: inline-block;
    position: relative;
    left: 600px;
    top: -360px;
}
.title {
    position: fixed;
    padding-left: 30px;
    padding-top: 10px;
}
.transportationCurrentItem {
    top: 90px;
}
.descriptionTransportation {
    display: inline-block;
    position: relative;
    left: 400px;
    top: 130px;

}
.defect {
    text-align: center;
    padding-top: 10px;
    width: 69px;
    height: 90px;
    left: 213px;
    bottom: -14px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.defectGreen {
    background-image: url("../img/defectGreen.svg");
}
.defectYellow {
    background-image: url("../img/defectYellow.svg");
}
.defectRed {
    background-image: url("../img/defectRed.svg");
}
.timeArrowPlan {
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: -200px;
    background-repeat: no-repeat;
}
hr {
    width: 100vw;
    max-width: 100%;
    margin-bottom: 0%;
    margin-top: -3px;
    position: fixed;
}
.timeArrowFact {
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: -157px;
    background-repeat: no-repeat;
}
.mainStorage {
    background-image: url("../img/storageGreen.svg");
    position: relative;
    background-repeat: no-repeat;
    width: 168px;
    height: 300px;
    /* margin-top: -4px; */
    bottom: 337px;
    display: inline-table;
    background-size: 100% 100%;
    text-align: center;
}
.resultBlock {
    width: 100px;
    height: 300px;
    background: #8E2100;
    position: relative;
    display: inline-table;
    bottom: 45px;
}