<div class="circle yellowCircle"><i class="fa fa-3x fa-exclamation-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle redCircle"><i class="fa fa-3x fa-times-circle"></i></div>
<div class="circle redCircle"><i class="fa fa-3x fa-times-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>

<div class="wrapper">
    <div class="leftStorage operationWorkPlace">
        <br>
        Входной склад рабочего места
    </div>
    <div class="wrapperYellow"></div>
    <div class="wrapperRed"></div>
    <div class="rightStorage operationWorkPlace">
        <br>
        Выходной склад рабочего места
    </div>
</div>

<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle defaultCircle"><i class="fa fa-3x fa-circle-o"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle yellowCircle"><i class="fa fa-3x fa-exclamation-circle"></i></div>
<div class="circle greenCircle"><i class="fa fa-3x fa-check-circle"></i></div>
<div class="circle defaultCircle"><i class="fa fa-3x fa-circle-o"></i></div>