<a on-click="saveData" class="button">SAVE DATA</a>
<aside id="aside" class="small-2 columns">
    <nav class="main-menu">
        {{#states}}
        <a id="{{id}}" on-click="details" class="active" href="javascript:void(0);">{{title}}</a>
        {{/states}}
    </nav>
</aside>
<section id="main-section" class="small-10 columns">
{{#currentDetails}}
<div class="small-12 clearfix top-area top-info-state">
    <div class="small-4 columns">
        <div class="small-12 info-state">
            {{#members}}
            <h5>Ответственные лица за контроль обеспецения ресурсами</h5>
            <div class="small-12">
                <b>Оператор:<input type="text" value="{{nameOperator}}"/></b>
            </div>
            <div class="small-12">
                <b>Старший оператор:<input type="text" value="{{nameMainOperator}}"/></b>
            </div>
            {{/members}}
        </div>
    </div>
    <div class="small-5 columns">
        <div class="small-12 info-state">
            <h5>Плановое время обеспечения ресурсами</h5>
            {{#planTime}}
                {{#getResources}}
            <div class="small-12 date-resource">
                <b>
                    <input type="text" value="{{date}}"/>
                </b>
            </div>
            <div class="small-12 time-resource">
                <b>
                    <input type="text" value="{{time}}"/>
                </b>
            </div>
                {{/getResources}}
            {{/planTime}}
        </div>
    </div>
    <div class="small-3 columns">
        <div class="small-12 info-state">
            <h5>Адрес рабочего места</h5>
            {{#addressPlace}}
            <div class="small-12">
                <b>№ цеха:<input type="text" value="{{num1}}"/></b>
            </div>
            <div class="small-12">
                <b>№ участка:<input type="text" value="{{num2}}"/></b>
            </div>
            <div class="small-12">
                <b>№ рабочего места:<input type="text" value="{{num3}}"/></b>
            </div>
            {{/addressPlace}}
        </div>
    </div>
</div>
<div class="small-12 clearfix top-area top-buttons-area" style="border-bottom: 10px solid #0E5C7B;">
    {{#process}}
        {{#triggers:i}}
    <div class="small-3 columns">
        <a href="javascript:void(0);" data-id="{{i}}" on-click="currentTime:'triggerType'" class="default-button button-{{type}}">{{title}}</a>
        <span>{{time}}</span>
    </div>
        {{/triggers}}
    <div class="small-12 columns time-fall">
        <b>{{result.title}}</b><span>{{result.time}}</span>
    </div>
    {{/process}}
</div>
{{/currentDetails}}
<div class="small-12 clearfix list-services">
    {{#services:k}}
    <div id="{{id}}" data-id="{{k}}" class="small-12 item-service clearfix">
        <div class="small-3 columns">
            <h6>{{title}}</h6>
        </div>
        <div class="small-9 columns">
            {{#types:j}}
            <div class="small-3 columns">
                <a href="javascript:void(0);" data-id="{{k}}" on-click="currentTime:'serviceType'" class="default-subbutton {{type}}">{{title}} <span>{{time}}</span></a>
            </div>
            {{/types}}
        </div>
    </div>
    {{/services}}

</div>
</section>